@import "bem";

.block {
  display: block;

  @include --m('modififier') {
    color: black;

    @include __e('element') {
      color: yellow;
    }
  }

  @include --m('modifier') {
    @include __e('element') {
      @include --m('modifier') {
        color: red;
      }
    }
  }

  @include __e('element') {
    font-weight: bold;

    @include --m('modifier') {
      color: magenta;
    }
  }
}
