@import "bem";

.block {
  display: block;

  @include modifier('modififier') {
    color: red;

    @include element('element') {
      color: green;
    }
  }

  @include element('element') {
    font-weight: bold;

    @include modifier('modifier') {
      color: magenta;
    }
  }
}
