.block {
  display: block;
}

.block.block--modififier {
  color: red;
}

.block.block--modififier .block__element {
  color: green;
}

.block .block__element {
  font-weight: bold;
}

.block .block__element.block__element--modifier {
  color: magenta;
}
